<div class="container-fluid d-flex flex-column">
  <div class="row">
    <div class="vh-100 row m-0 tex-center align-items-center justify-content-center" style="background: #fff;">
      <div class="col-md-6">
        <img class="imgSasf" src="../../../../../assets/img/icon-sasf.jpg" alt="login form" class="img-fluid"
          style="border-radius: 1rem 0 0 1rem;" />
      </div>
      <div class="col-md-6">

        <form [formGroup]="userForm">

          <div class="d-flex align-items-center mb-3 pb-1">
            <span class="h1 fw-bold mb-0">Registrate aquí!</span>
          </div>

          <div class="form-outline mb-4">
            <div class="row">
              <div class="col-md-6">
                <input required placeholder="Nombres" formControlName="nombre" class="form-control form-control-lg"
                  id="nombre" name="nombre" type="text" required />
                <div *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.errors?.['required']"
                  class="alert alert-danger">The name is required</div>
                <div *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.errors?.['minlength']"
                  class="alert alert-danger">The nombre must be at least 4 characters long</div>
                <div *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.errors?.['maxlength']"
                  class="alert alert-danger">The nombre cannot exceed 50 characters</div>
                <div *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.errors?.['pattern']"
                  class="alert alert-danger">The nombre cannot contain special characters</div>
              </div>
              <div class="col-md-6">
                <input type="text" id="apellido" placeholder="Apellidos" formControlName="apellido" name="apellido"
                  class="form-control form-control-lg" required />
                <div *ngIf="userForm.get('apellido')?.touched && userForm.get('apellido')?.errors?.['required']"
                  class="alert alert-danger">The apellido is required</div>
                <div *ngIf="userForm.get('apellido')?.touched && userForm.get('apellido')?.errors?.['minlength']"
                  class="alert alert-danger">The apellido must be at least 4 characters long</div>
                <div *ngIf="userForm.get('apellido')?.touched && userForm.get('apellido')?.errors?.['maxlength']"
                  class="alert alert-danger">The apellido cannot exceed 50 characters</div>
                <div *ngIf="userForm.get('apellido')?.touched && userForm.get('apellido')?.errors?.['pattern']"
                  class="alert alert-danger">The apellido cannot contain special characters</div>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">

            <div class="row">

              <div class="col-md-12">
                <input type="email" id="email" name="email" formControlName="email" placeholder="Email"
                  class="form-control form-control-lg" required />
                <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']"
                  class="alert alert-danger">The email is required</div>
                <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['email']"
                  class="alert alert-danger">Please enter a valid email address</div>
              </div>
            </div>

          </div>

          <div class="form-outline mb-4">
            <div class="row">
              <div class="col-md-12">
                <input type="password" id="password" placeholder="Contraseña" name="password"
                  class="form-control form-control-lg" formControlName="password" />
                <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['required']"
                  class="alert alert-danger">The pass is required</div>
                <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['minlength']"
                  class="alert alert-danger">The password must be at least 4 characters long</div>
                <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['maxlength']"
                  class="alert alert-danger">The apellido cannot exceed 50 characters</div>
              </div>
            </div>

          </div>

          <div class="pt-1 mb-4">
            <button type="button" class="btn btn-dark btn-lg btn-block" [disabled]="!userForm.valid"
              (click)="saveUser()">
              Registrar</button>
          </div>

          <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a routerLink="/auth/login" href="#!"
              style="color: #393f81;">Login here</a></p>

        </form>
      </div>
    </div>
  </div>

</div>