<app-nav></app-nav>

<div class="container">
    <div class="jumbotron">
        <h1 *ngIf="!email" class="display-4">Hello, world!</h1>
        <h1 *ngIf="email" class="display-4">Hello, {{email}}</h1>
        <p class="lead">"Bienvenido a OlimacServices, una empresa especializada en el desarrollo de software a medida. Nos enorgullece ofrecer soluciones innovadoras y personalizadas que satisfacen las necesidades únicas de nuestros clientes.

          En OlimacServices, entendemos que cada negocio tiene requisitos distintos, por lo que nos dedicamos a crear aplicaciones y sistemas personalizados que impulsen el crecimiento y la eficiencia de tu empresa. Nuestro equipo de desarrolladores altamente capacitados y experimentados trabaja en estrecha colaboración contigo para comprender tus objetivos y convertir tus ideas en realidad.
          
          Ya sea que necesites un software de gestión empresarial, una aplicación móvil o una plataforma web, estamos aquí para ayudarte. Utilizamos las últimas tecnologías y metodologías de desarrollo para construir soluciones escalables, seguras y de alto rendimiento.
          
          En OlimacServices, la calidad y la satisfacción del cliente son nuestras principales prioridades. Nos esforzamos por ofrecer productos y servicios de la más alta calidad, garantizando que cada proyecto se entregue a tiempo y dentro del presupuesto acordado.
          
          Además del desarrollo de software, también brindamos servicios de consultoría para ayudarte a optimizar tus procesos y mejorar la eficiencia de tu negocio. Nuestro compromiso es brindarte el apoyo necesario en todas las etapas, desde la concepción de la idea hasta la implementación y el soporte continuo"</p>
        <hr class="my-4">
        <p>
          
          Explora nuestro sitio web para obtener más información sobre nuestros servicios, proyectos anteriores y testimonios de clientes satisfechos. ¡Confía en OlimacServices para impulsar la transformación digital de tu empresa y llevarla al siguiente nivel!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
</div>


<app-footer></app-footer>