<footer role="contentinfo">  
  <div class="footer-middle">  
  <div class="container">  
    <div class="row">  
      <div class="col-md-3 col-sm-6">  
        <div class="footer-pad">  
          <h4> Acerca de Nosotros</h4>  
          <ul class="list-unstyled">  
            <li> <a > </a> </li>  
            <li> <a >Payment Center</a></li>  
            <li> <a > Contact Directory </a></li>  
            <li> <a >Forms</a></li>  
            <li> <a >News and Updates</a></li>  
            <li> <a >FAQs</a></li>  
          </ul>  
        </div>  
      </div>  
      <div class="col-md-3 col-sm-6">  
        <div class="footer-pad">  
          <h4>Contactanos</h4>  
          <ul class="list-unstyled">  
            <li><a > Blog </a> </li>  
            <li><a >Accessibility</a> </li>  
            <li><a >Disclaimer</a></li>  
            <li><a >Privacy Policy</a></li>  
            <li><a >FAQs</a></li>  
            <li><a >Webmaster</a></li>  
          </ul>  
        </div>  
      </div>  
      <div class="col-md-3 col-sm-6">  
        <div class="footer-pad">  
          <h4> Trabaja con nosotros</h4>  
          <ul class="list-unstyled">  
            <li> <a > Parks and Recreation </a> </li>  
            <li> <a > Public Works </a> </li>  
            <li> <a >Police Department</a> </li>  
            <li> <a > Fire </a> </li>  
            <li> <a > Mayor and City Council </a> </li>  
          </ul>  
        </div>  
      </div>  
        <div class="col-md-3">  
            <h4>Siguenos en nuestras redes </h4>  
            <ul class="social-network social-circle">  
             <li> <a  class="icoFacebook" title="Facebook"> <i class="fa fa-facebook"> </i> </a> </li>  
             <li> <a  class="icoLinkedin" title="Linkedin"> <i class="fa fa-linkedin"> </i> </a> </li>  
    <li> <a > <i class="fa fa-youtube" aria-hidden="true"> </i> </a> </li>  
            </ul>               
    </div>  
    </div>  
    <div class="row">  
    <div class="col-md-12 copy">  
    <p class="text-center"> © Copyright 2021 - Company Name.  All rights reserved. </p>  
    </div>  
    </div>  
  </div>  
  </div>  
</footer>