  <nav class="navbar navbar-expand-lg navbar-expand-xl navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  href="#"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users/list" href="#"><i class="fa-solid fa-users"></i> Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/roles/list" href="#"><i class="fa-solid fa-users"></i> Roles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/cursos/list" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false"><i class="fa-solid fa-book"></i> Cursos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/inscripciones/list" href="#">Incripciones</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle rounded-dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
      </button>
      <ul  class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </nav> 